* {
  padding: 0%;
  margin: 0%;
}

/*Las variables se incertan arriba de todo*/
.midfoott, .cards, .background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h2 {
  font-family: larger;
  font-weight: bold;
}

.background {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../img/avionCielo.jpg);
  width: 100%;
}

.titulo {
  font-size: 25px;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  padding: 3%;
}

.table {
  font-size: larger;
}

h2 {
  padding-top: 7%;
}

.seccion4 {
  background-color: rgba(255, 255, 255, 0.342);
}

.seccion3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 6%;
  padding-left: 12%;
  padding-right: 12%;
}

.button {
  padding-top: 1rem;
}
.button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
}

.ultimoTitulo {
  font-family: italic;
  font-size: larger;
  font-weight: bold;
  padding-bottom: 3%;
}

.cards {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../img/avionAterrizando.jpg);
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
}

.seccion2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(77, 73, 73, 0.694);
}
.seccion2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 1s;
  transition: 1s;
}

.butn {
  background-color: black;
  margin-top: 5rem;
  color: white;
  text-decoration: none;
}

.container-fluid {
  font-size: larger;
  font-weight: bold;
  font-family: Open Sans, Arial, sans-serif;
}

.navbar-collapse {
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  padding-right: 10vw;
}

.navbar-brand {
  padding-left: 10vw;
  font-size: 35px;
}

.text {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(25%, rgba(96, 129, 156, 0.819)), to(rgba(0, 123, 255, 0.849)));
  background-image: linear-gradient(to top, rgba(96, 129, 156, 0.819) 25%, rgba(0, 123, 255, 0.849) 100%);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: green;
  height: 25vh;
  font-weight: bold;
  font-size: 1rem;
  font-family: Open Sans, Arial, sans-serif;
}

.form {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(92, 128, 157, 0.819)), to(rgb(176, 142, 54)));
  background-image: linear-gradient(to top, rgba(92, 128, 157, 0.819) 50%, rgb(176, 142, 54) 100%);
  height: 25%;
}

.liFooter {
  padding-top: 1.5vh;
  text-decoration: none;
  list-style: none;
  color: white;
}

.liFooter:hover {
  color: white;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  padding-left: 0.5rem;
}

.midfoott {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgb(255, 255, 255);
  padding-top: 1.5vh;
  list-style: none;
  font-size: 35px;
}

.midfoott:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.formFoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
  margin-top: 15px;
  list-style: none;
}

.liFoot {
  margin-right: 1rem;
  margin-top: 15px;
}

.liFoott {
  background-color: rgb(252, 252, 252);
  border-radius: 5rem;
  margin-right: 1rem;
  margin-top: 5px;
}

.liFoott:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.593);
}

@media (max-width: 600px) {
  .seccion3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: 100vh;
  }
}